.login-form {

  .validation-msg {
    font-size: 14px;
    color: red;
    padding: 5px;
  }

  .submit-button{
    margin-top: 20px;

    .register-button{
      background-color: #0ab327;
      box-shadow: none;
    }

    .login-button{
      box-shadow: none;      
    }
  }
}
